_Secret_/
Lesson0/
/nbproject/private/
Task*SrcReady/

#Not ready yet
Lesson1_Lection
Lesson5
Lesson6
Lesson7
LessonN

Libs/Java/lwjgl-3.2.3.zip


# Build results
[Dd]ebug/


# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# NetBeans
*.o
*.d
private/